# Local .terraform directories
**/.terraform/*

# Ignore variable files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Env-specific files
.envrc

# TF CLI config files
.terraformrc
terraform.rc

# .tfstate files
*.tfstate
*.tfstate.*

# Added by cargo

/target
